body {
  font-family: 'Quicksand', sans-serif;
  background: radial-gradient(circle at top, #0b2a13, #020d06);
  color: #fce4ec;
  margin: 0;
  line-height: 1.6;
}

header {
  text-align: center;
  background: linear-gradient(to right, #065412, #17ae2d);
  color: #ffffff;
  padding: 25px 0;
  border-bottom: 3px solid #148037;
  box-shadow: 0 4px 15px rgba(113, 255, 105, 0.4);
}

header img {
  width: 90px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(7, 77, 9, 0.984);
}

h1 {
  font-size: 2.8em;
  margin: 10px 0;
  text-shadow: 0 0 10px rgba(17, 202, 85, 0.989);
}

h2 {
  color: #12d719;
  font-weight: 600;
  margin-bottom: 15px;
}

nav {
  background-color: rgb(3, 62, 8);
  border: 1px solid #1bf34a;
  border-radius: 12px;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  box-shadow: 0 0 10px rgba(16, 90, 47, 0.975);
}
nav a {
  color: #10ab39;
  text-decoration: none;
  font-weight: bold;
  margin: 0 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: 0.3s;
}

nav a:hover {
  color: #ffffff;
  text-shadow: 0 0 8px #35cf53;
}

section {
  background: rgba(1, 44, 10, 0.975);
  padding: 30px;
  margin: 30px auto;
  border-radius: 15px;
  width: 90%;
  max-width: 900px;
  border: 1px solid #1dea57;
  box-shadow: 0 0 20px rgb(6, 74, 37);
}

h3 {
  color: #11a761;
  border-bottom: 2px solid #1ab769;
  padding-bottom: 5px;
}

ul {
  list-style-type: "🍃 ";
  margin-left: 25px;
  color: #bcf8bb;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: rgba(6, 41, 23, 0.993);
  border: 1px solid #15b71d;
  box-shadow: 0 0 15px rgb(11, 120, 71);
}

th, td {
  border: 1px solid #3ef05c;
  padding: 10px;
  text-align: center;
  color: #fce4ec;
}

th {
  background-color: rgba(5, 62, 14, 0.918);
  color: #48bf6a;
  text-transform: uppercase;
}

iframe {
  display: block;
  margin: 25px auto;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(10, 109, 63, 0.715);
  border: 1px solid #60de40;
}

footer {
  text-align: center;
  background: linear-gradient(to right, #034d24, #0c4f17);
  padding: 15px 0;
  border-top: 3px solid #0fe94c;
  color: #f8bbd0;
  font-weight: 500;
  letter-spacing: 0.5px;
}

footer a {
  color: #94ce9c;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: #ffffff;
  text-shadow: 0 0 8px #0f6a30;
}