body {
  font-family: 'Quicksand', sans-serif;
  background: radial-gradient(circle at top, #2a0b1e, #0d0209);
  color: #fce4ec;
  margin: 0;
  line-height: 1.6;
}

header {
  text-align: center;
  background: linear-gradient(to right, #8616ba, #b01479);
  color: #ffffff;
  padding: 25px 0;
  border-bottom: 3px solid #ff80ab;
  box-shadow: 0 4px 15px rgba(255, 105, 180, 0.4);
}

header img {
  width: 90px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 105, 180, 0.5);
}

h1 {
  font-size: 2.8em;
  margin: 10px 0;
  text-shadow: 0 0 10px rgba(255, 64, 129, 0.8);
}

h2 {
  color: #ff80ab;
  font-weight: 600;
  margin-bottom: 15px;
}

nav {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #ff80ab;
  border-radius: 12px;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  box-shadow: 0 0 10px rgba(255, 105, 180, 0.5);
}
nav a {
  color: #ff80ab;
  text-decoration: none;
  font-weight: bold;
  margin: 0 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: 0.3s;
}

nav a:hover {
  color: #ffffff;
  text-shadow: 0 0 8px #ff80ab;
}

section {
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  margin: 30px auto;
  border-radius: 15px;
  width: 90%;
  max-width: 900px;
  border: 1px solid #f06292;
  box-shadow: 0 0 20px rgba(255, 105, 180, 0.2);
}

h3 {
  color: #f48fb1;
  border-bottom: 2px solid #ff80ab;
  padding-bottom: 5px;
}

ul {
  list-style-type: "💖 ";
  margin-left: 25px;
  color: #f8bbd0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid #f06292;
  box-shadow: 0 0 15px rgba(255, 105, 180, 0.2);
}

th, td {
  border: 1px solid #f48fb1;
  padding: 10px;
  text-align: center;
  color: #fce4ec;
}

th {
  background-color: rgba(255, 64, 129, 0.15);
  color: #ff80ab;
  text-transform: uppercase;
}

iframe {
  display: block;
  margin: 25px auto;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(255, 105, 180, 0.4);
  border: 1px solid #f06292;
}

footer {
  text-align: center;
  background: linear-gradient(to right, #4a003e, #880e4f);
  padding: 15px 0;
  border-top: 3px solid #ff80ab;
  color: #f8bbd0;
  font-weight: 500;
  letter-spacing: 0.5px;
}

footer a {
  color: #ff80ab;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: #ffffff;
  text-shadow: 0 0 8px #7f10a4;
}